body {
  background-color: white;
}
.imgProfile {
  width: 10%;
  border-radius: 100px;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #751b3f;
  color: #ffffff;
  display: block;
}

#About {
  text-align: center;
}
h2 {
  text-align: center;
  background-color: #751b3f;
  color: white;
  padding: 20px;
}

nav {
  color: var(--dark-blue);
  padding: 14px 50px;
  text-decoration: none;
  text-align: center;
}
a {
  padding: 20px;
}

.products {
  flex: 1;
  background-color: var(--white);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.boxes {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(1.5 deg);
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}
.box {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}
.box > p {
  text-align: center;
}
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}

.card > header {
  /* This is the same as `border-radius: 50px 50px 0 0 */
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
